<li>
  <div class="checkout-item-row">
    <div class="checkout-item-quantity">
      <p>1</p>
    </div>
    <p class="checkout-item-title">Chocolate Donut</p>
    <p class="checkout-item-price">CA$14.99</p>
  </div>
  <p class="checkout-item-description">Fluffy and smooth chocolate glaze donut.</p>
  <button class="checkout-item-remove">Remove</button>
</li>
