<section id="checkout">
  <div>
    <div id="checkout-details">
      <h4>Your Pickup Order</h4>
      <div class="address">
        <i class="fa-solid fa-location-dot"></i>
        <span>Pickup at 555 street abc 111.</span>
      </div>
      <div class="time">
        <i class="fa-solid fa-timer"></i>
        <span>Ready in about 15-20 minutes.</span>
      </div>
    </div>

    <ul id="checkout_Items">
    </ul>
  </div>

  <button id="order-now" type="button">
    <p>Order Now</p>
    <p id="order-total">CA$0.0</p>
  </button>
</section>
