<div><h4>Your Pickup Order</h4></div>
<div class="address"><i class="fa-solid fa-location-dot"></i> Pickup at 555 street abc 111.</div>
<div class="time"><i class="fa-solid fa-timer"></i> Ready in about 15-20 minutes.</div>
<hr>

<form>
  <ul>
    <li>Title</li>
    <li>Title</li>
    <li>Title</li>
  </ul>
  <button class="btn-checkout">
    <p>Order Now</p>
    <p>CA$14.99</p>
  </button>
</form>
