<nav>
  <div class="logo-slogan">
    <span class="logo">The Donut Company</span>
    <span class="slogan">Make Your Day Donuts</span>
  </div>
  <ul class="nav-menu">
    <li id="user_name"><a href="/">Bob</a></li>
  </ul>
</nav>
