<form method="POST" action="">
  <button style="width: 200px; padding: 0; border: 0;">
    <img src="https://www.shugarysweets.com/wp-content/uploads/2020/01/baked-chocolate-donuts-recipe.jpg " alt="Chocolate Donut" width="200" height="200">
    <p style="text-align: start; margin-left: 1em;">Donut</p>
    <p style="text-align: start; margin-left: 1em;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p style="text-align: start; margin-left: 1em;">CA$14.99</p>
  </button>
</form>
