<form method="POST" action="" style="z-index: 99;">
  <div style="width: 350px; padding: 0; border: 0; background-color: white; border-radius: 10px;">
    <img src="https://www.shugarysweets.com/wp-content/uploads/2020/01/baked-chocolate-donuts-recipe.jpg " alt="Chocolate Donut" width="350" height="350"
    style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <p style="text-align: start; margin-left: 1em;">Donut</p>
    <p style="text-align: start; margin-left: 1em;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 2em;">
      <button style="width: 30px; height: 30px;">-</button>
      <p style="margin: 0 15px;">1</p>
      <button style="width: 30px; height: 30px;">+</button>
    </div>
    <button style="display: flex; width: 85%; justify-content: space-between; margin: 0 auto; border-radius: 10px; margin-top: 1em;">
      <p>Add To Cart</p>
      <p>CA$14.99</p>
    </button>
  </div>
</form>
