<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@1,300;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" type="text/css" />


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/checkout.css" />
  <link rel="stylesheet" href="/styles/menuItems.css" />
  <link rel="stylesheet" href="/styles/menuItemPopup.css" />
  <link rel="stylesheet" href="/styles/banner.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="scripts/app.js"></script>
  <script defer src="scripts/checkout-item.js"></script>
  <script defer src="scripts/checkout-animation.js"></script>
  <script defer src="scripts/order-now.js"></script>
</head>

<body>
  <%- include('partials/_header'); %>
  <main class="container">
    <%- include('partials/_banner'); %>
    <section class="menu-section">
      <ul class="menu-categories">
        <li><a href="#category0" active>Most Popular</a></li>
        <li><a href="#category1">Seasonal</a></li>
        <li><a href="#category2">Vegan</a></li>
        <li><a href="#category3">Gluten Free</a></li>
        <li><a href="#category4">Assortment</a></li>
      </ul>
      <ul id="menu-items"></ul>
      <div id="popup-item"></div>
      <div id="popup-background"></div>
    </section>
      <%- include('partials/_checkout'); %>
  </main>
</body>

</html>
