<!DOCTYPE html>
<html lang="en">

<head>
  <!-- dynamic title: Order Status / Order Confirmation -->
  <title>Order Status</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/status.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/order-status-interval.js"></script>
</head>

  <body>
    <%- include('partials/_header') %>

    <main class="status-container">
      <!-- Which section is visible will depend on the order status -->
      <section id="waiting">
        <p>Waiting for the restaurant to confirm your order</p>
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </section>

      <section id="confirmation">

        <p id="order-message"><strong>Your order is being prepared</strong></p>
        <p id="estimate-time">Estimate 30 - 45 minutes</p>
        <ul id="current-status">
          <li id="cooking">Cooking</li>
          <li id="finishing">Finishing Up</li>
          <li id="ready">Ready For Pickup</li>
        </ul>
      </section>

      <section id="pickup-address">
        <img src="images/donut-shop-map.jpg" alt="Google Map">
        <p><strong>Pickup location</strong><br>223 E Pender, Vancouver BC V6A 2T9, Canada</p>
      </section>
    </main>
  </body>
</html>
