// See: https://sass-lang.com/
@use 'variables' as v;

*{
  box-sizing: border-box;
}


body,
html {
  margin: 0;
}

body {
  color: black;
  background-color: #f4f1ec;
  font-size: 24px;
  @include v.col-center-V;
}

main.container {
  width: 85%;
  min-height: 38em;
  margin-top: -16em;
  padding: 20px;
  border: 1px solid #a8b0bc;
  border-radius: 12px;
  background-color: white;
} //container

.menu-section {
  display: flex;
  flex-direction: column;
  width: 68%;
  flex: 3;
}

.menu-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid #a8b0bc;
  border-bottom: 1px solid #a8b0bc;
  margin: 0;
  padding: 0 10em;
}
.menu-categories li {
  list-style: none;
  text-decoration: none;
}
.menu-categories li a {
  white-space: nowrap;
  display: block;
  padding-top: 1em;
  padding-bottom: 1.3em;
}
.menu-categories a:link,
.menu-categories a:visited,
.menu-categories a:hover,
.menu-categories a:active {
  text-decoration: none;
  color: black;
}

.menu-categories a:hover,
.menu-categories a:active {
  border-bottom:1px solid black;
  margin-bottom: -1px;
}


.menu-items {
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.checkout-container {
  margin-top: -650px;
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  padding: 20px;
  border: 1px solid #a8b0bc;
  border-radius: 10px;
  background-color: white;
}
