// See: https://sass-lang.com/
@use 'variables' as v;

body,
html {
  margin: 0;
}

body {
  color: black;
  background-color: #f4f1ec;
  font-size: 24px;
  @include v.col-center-V;
}

main.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;



  .menu-items-container {
    margin-top: -100px;
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // flex-wrap: wrap;
    padding: 20px;
    padding-top: 100px; //for menu
    border: 1px solid #a8b0bc;
    border-radius: 12px;
    background-color: white;
  }
}
