ul#menu-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  z-index: 5;

  li.menu-category {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    margin-left: 2.5em;
    margin-top: 2.5em;
    &#category0 {
      margin-top: 0.5em;
    }
  }

  li.menu-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:  0px 0px 10px 0px;
    margin:  20px 10px 20px 10px;
    color: #5C5C5C;
    border: 1px solid #a8b0bc;
    border-radius: 12px;
    font-size: small;
    cursor: pointer;

    img.donut-thumbnail {
      width: 100%;
      height: 200px;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    }

    p.item-title {
      font-weight: bold;
      font-size: larger;
      margin-bottom: 0;
    }

    p.item-desc {
      width: 80%;
      text-align: justify;
    }

    p.item-price {
      font-size: larger;
      color: black;
      background-color: orange;
      width: 80%;
      border-radius: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid #a8b0bc;
      border-style: outset;
    }

  } //li
} // ul
