div#popup-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: black;
  opacity: 0.7;
  display: none;
}

form.popup {
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 27%;

  p#closePopup {
    position: absolute;
    top: 0px;
    right: 22px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    opacity: 0.3;
  }

  p#closePopup:hover {
    opacity: 1;
  }

  div.popupContainer {
    width: 370px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #5C5C5C;

    img {
      width: 350px;
      height: 350px;
      border-radius: 10px;
    }

    p.popupName {
      font-weight: bold;
      margin: 12px;
    }

    p.popupDesc {
      text-align: justify;
      font-size: smaller;
      margin: 6px;
    }

    div.quantityButtons {
      display: flex;
      justify-content: space-between;

      button.quantityButton {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: orange;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
        border: solid 1px transparent;
      }

      p {
        margin: 0 15px;
      }
    } // div.quantityButtons

    button#checkoutButton {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      margin-top: 1em;
      background-color: orange;
      font-weight: bold;
    }

    button#checkoutButton:hover {
      cursor: pointer;
      background-color: yellow;
    }

  } // div.popupContainer
} // form
